# environment variables
**/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# logs
**/*.log

# python
api/**/__pycache__/
api/**/*.pyc
api/**/*.pyo
api/venv/

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# os
.DS_Store
Thumbs.db