# environment variables
.env
**/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# logs
*.log
*debug.log*
*error.log*

# python
__pycache__/
*.pyc
*.pyo
api/venv/

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# os
.DS_Store
Thumbs.db