@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
    --color-customblue-1: #CAF0F8;
    --color-customblue-2: #90E0EF;
    --color-customblue-3: #00B4D8;
    --color-customblue-4: #0077B6;
    --color-customblue-5: #03045E;
    --font-syne: 'Syne', sans-serif;
    --font-dm: 'DM Sans', sans-serif;
}